.impactsBox {
  display: flex; /* Alterado para exibir como um flex container */
  justify-content: flex-end; /* Alinhar os itens à direita */
  position: absolute; /* Posicionamento absoluto */
  right: 10px; /* Distância da direita */
}

.priceImpactBox,
.esgImpactBox {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 8px; /* Adicionando bordas arredondadas */
  margin-top: 10px; /* Adicionando margem superior */
}

.esgImpactBox {
  margin-left: 10px; /* Adicionando margem esquerda */
}

.priceImpactBox.visible + .esgImpactBox.visible {
  margin-left: 0; /* Remover a margem esquerda se ambas estiverem visíveis */
}

.bloco-noticia {
    /*width: 500px; /* Largura fixa para o VBox */
    height: 400px; /* Altura fixa para o VBox */
    background-color: #f0f0f0; /* um tom de branco mais escuro */
    border: none; /* removendo a borda */
    border-radius: 5px; /* adicionando cantos arredondados */
    overflow: hidden; /* esconder o conteúdo que ultrapassa */
    margin: 10px; /* definindo margem para manter um espaço padronizado entre os VBox */
    display: flex; /* Permite que os VBoxes sejam exibidos lado a lado */
    flex-direction: column; /* Alinha os VBoxes verticalmente */
    position: relative; /* Permitir posicionamento absoluto dos elementos filhos */
}

.imagem-container {
    /*height: 50%; /* Ocupa 50% da altura do VBox principal */
    overflow: hidden; /* Esconder o conteúdo que ultrapassa */
    display: flex; /* Permite centralizar a imagem verticalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.imagem-noticia {
    /*width: 100%; /* A imagem preenche toda a largura do VBox */
    /*height: 100%; /* Altura ajustável conforme necessário */
    object-fit: cover; /* Redimensiona a imagem para preencher o contêiner, mantendo a proporção */
    object-position: center; /* Centraliza a imagem */
}

.conteudo-noticia {
    height: 50%; /* Ocupa 50% da altura do VBox principal */
}

.titulo-noticia {
    font-weight: bold; /* tornando o título em negrito */
    overflow: hidden; /* escondendo o texto que não cabe */
    white-space: nowrap; /* impedindo que o texto seja quebrado em várias linhas */
    text-overflow: ellipsis; /* adicionando "..." no final do texto que não cabe */
}

.texto-autor {
    color: gray; /* cor mais discreta para o texto do autor */
    font-size: 12px; /* ajustando o tamanho do texto do autor */
}

/*¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/

/* Estilo para layout de 5 colunas */
.layout-5-columns {
  grid-column: span 4;
  grid-row: span 1;
}

/* Estilo para layout de 10 colunas */
.layout-10-columns {
  grid-column: span 7;
  grid-row: span 2;
}

.titleSmall {
    font-size: larger !important;
    color: #0070f2 !important;
    font-family: '72' !important;
}

.sapMCustomIcon .sapMBtnInner {
  border: none !important;
  background-color: transparent !important;
}

.sapMCustomIcon .sapMBtnIcon {
  color: #0A6ED1 !important; /* Cor azul do ícone */
}

.customButton {
  margin-top: -0.25rem;
}

/*¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨*/

.items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.VBox {
    /*
    height: 100%;
    */
    display: flex;
    justify-content: space-between;
    /*add*/
    align-items: stretch;

    overflow: auto;
    font-family: sans-serif;
   
    border-radius: 4px;
   
    filter: drop-shadow(0 2px 30px rgba(0, 0, 0, 0.3))
      drop-shadow(0 0 0 rgba(0, 0, 0, 0.42));

    background-color: white;
   
    /* background: lightblue; */
  }

  .VBoxCh {
    /*
    height: 100%;
    */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    /*add*/
    align-items: stretch;

    overflow: auto;
    font-family: sans-serif;
   
    border-radius: 4px;
   
    filter: drop-shadow(0 2px 30px rgba(0, 0, 0, 0.3))
      drop-shadow(0 0 0 rgba(0, 0, 0, 0.42));
   
    /* background: lightblue; */
    background-image: url("https://www.ics-shipping.org/wp-content/uploads/2020/10/tanker.jpg");
  }

  .img {
    /*
    flex-grow: 1;
    */
    height: 100%;
    
    object-fit: cover;
    width: 100%;
    max-height: 220px;
    
  }

  .imgMain {
    /*
    flex-grow: 1;
    */
    height: 100%;
    
    object-fit: cover;
    width: 100%;
    min-height: 518px;
    max-height: 518px;
    
  }  

  .content {
    flex-grow: 0;
    background-color: white;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
   
  .title {
    font-size: 14px;
    font-weight: 600;
    color: #515559;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
  }
   
  .author {
    font-size: 11px;
    color: #696969;
  }

  .button {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .noBottomBorder {
    border-bottom: none !important;
}
.pageStyle {
    background-color: white !important;
}
.sapMITBContent{
    background-color: white !important;
}
*[data-myTextColor='Blue'] .sapMBtnText{
    color: blue !important;
}
*[data-myTextColor='Pink'] .sapMBtnText{
    color: #C71585 !important
}
*[data-myTextColor='Purple'] .sapMBtnText{
    color: #7B68EE !important
}
*[data-myTextColor='GreenWater'] .sapMBtnText{
    color: #20B2AA!important
}
:focus>[class*='sapM'] {
    outline-style: none !important ;
  }
.sapMLIBFocusable:focus {
    outline: 1px dotted #000000;
    outline-offset: -1px;
}

.boxRelevanceLegend{
    width: 5%;
}

*[data-myBarColor='Green'] .sapSuiteBMCBar{
  background-color: #00C453;
}

*[data-myBarColor='Yellow'] .sapSuiteBMCBar{
  background-color: yellow;
}

*[data-myBarColor='Red'] .sapSuiteBMCBar{
  background-color: red;
}

*[data-myTargetVisible='True'] .sapSuiteBMCTargetBarValue{
  visibility: visible;
}

*[data-myTargetVisible='False'] .sapSuiteBMCTargetBarValue{
  visibility: hidden;
}

.customRelevanceIndicator {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10px;
    border-radius: 0px;
    overflow: hidden;
}

.colorSegment {
    height: 100%;
    flex: 1;
}

.greenSegment {
    background-color: #00C453;
}

.yellowSegment {
    background-color: yellow;
}

.redSegment {
    background-color: red;
}


.sapMFlexBox.demoBox {
	border-radius: 4px;
	/* background-color: #427cac; */
	text-align: center;

  filter: drop-shadow(0 2px 30px rgba(0, 0, 0, 0.3))
  drop-shadow(0 0 0 rgba(0, 0, 0, 0.42));

  display: flex;
  justify-content: space-between;
  /*add*/
  align-items: stretch;

  overflow: auto;
  font-family: sans-serif;
  background-color: white;
  
  /* background: lightblue; */


}
.demoBox .sapMText {
	color: black;
}

.sapMText.infoText {
	font-style: italic;
}



.NewsVbox[data-Vbox="demoBox"] { 

	border-radius: 4px;
	/* background-color: #427cac; */

  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.3))
  drop-shadow(0 0 0 rgba(0, 0, 0, 0.42));

  display: flex;
  justify-content: space-between;
  /*add*/
  align-items: stretch;

  overflow: auto;
  font-family: sans-serif;
  background-color: white;  

 }

 .NewsImg[data-Img="img"] { 

    /*
    flex-grow: 1;
    */
    height: 100%;
    
    object-fit: cover;
    width: 100%;
    height: 1200px;
    max-height: 220px;
    
 }

 .NewsVbox[data-Vbox="VBox"] { 

    /*
    height: 100%;
    */
    display: flex;
    justify-content: space-between;
    /*add*/
    align-items: stretch;

    overflow: auto;
    font-family: sans-serif;
   
    border-radius: 4px;
   
    filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.3))
      drop-shadow(0 0 0 rgba(0, 0, 0, 0.42));

    background-color: white;
   
    /* background: lightblue; */

 }

 .NewsImg[data-Img="imgMain"] { 

    /*
    flex-grow: 1;
    */
    height: 100%;
    
    object-fit: cover;
    width: 100%;
    min-height: 542px;
    max-height: 542px;
    

 }


 .sapSuiteBMCContent.sapSuiteBMCSizeS{
  width: 1.5rem !important;
  height: 1.0rem !important;
 }

 .sapSuiteBMCExtraSmallLook .sapSuiteBMCChartCanvas{
  width: 1.5rem;
 }

 .sapSuiteBMCExtraSmallLook .sapSuiteBMCBar{
  height: 50% !important;
 }

 .sapSuiteBMCVerticalAlignmentContainer{
  min-width: 0rem;
 }

 .sapSuiteBMCTargetBarValue{
  height: 80%;
 }
 .chartBox{
  margin-top: 2%;
 }

 .impactsBox {
  display: flex; /* Alterado para exibir como um flex container */
  justify-content: flex-end; /* Alinhar os itens à direita */
  position: absolute; /* Posicionamento absoluto */
  right: 10px; /* Distância da direita */
}

.availabilityImpactBox,
.priceImpactBox,
.esgImpactBox {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 8px; /* Adicionando bordas arredondadas */
  margin-top: 10px; /* Adicionando margem superior */
  font: menu;
  box-shadow:  2px 8px 0px rgba(0, 0, 0, 0.50)
}

.priceImpactBox{
  background-color: #C71585 !important;
}

.availabilityImpactBox{
  margin-left: 10px;
  background-color: #7B68EE !important;
}

.esgImpactBox {
  margin-left: 10px; /* Adicionando margem esquerda */
  background-color: #20B2AA !important;
}

.availabilityImpactBox .sapMText,.priceImpactBox .sapMText,.esgImpactBox .sapMText{
  color: white;
}

.availabilityImpactBox + .priceImpactBox.visible + .esgImpactBox.visible {
  margin-left: 0; /* Remover a margem esquerda se ambas estiverem visíveis */
}

.ButtonFilter .sapMBtnInner{
  border: none !important;
}

.ButtonFilter .sapMBtn:focus>.sapMFocusable:not(.sapMBadgeIndicator):before{  
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
}


.HeaderFilterBox{
  border-image: linear-gradient(to right, #f0f0f0, #d9d9d9) 1;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-top: none;
}

*[data-mySelectedFilter='True'] .sapMBtnInner::before{
  content: "";
  position: absolute;
  /* box-sizing: border-box; */
  left: 0;
  top: 0.0625rem;
  right: 0.0625rem;
  bottom: 0;
  border-bottom: .125rem solid #0032a5;
  pointer-events: none;
  border-radius: 0px;
}